name: Checking the quality of code and testing it

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black mypy pylint isort
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

      - name: Run black
        run: black -l 120 --check --diff --color --exclude "test*" .

      - name: Run mypy
        run: mypy --ignore-missing-imports --install-types --non-interactive .

      - name: Run pylint
        run: pylint --disable=missing-docstring --exit-zero .

      - name: Run unittests
        run: python -m unittest discover .
